$vw-viewport: 1280;
$vw-mobile-viewport: 375;
$vw-enable: true;

@function get-vw($font) {
  @if $vw-enable {
    $vw-context: $vw-viewport * 0.01 * 1px;

    @return $font / $vw-context * 1vw;
  }
  @return $font;
}

@function get-mobile-vw($font) {
  @if $vw-enable {
    $vw-context: $vw-mobile-viewport * 0.01 * 1px;

    @return $font / $vw-context * 1vw;
  }
  @return $font;
}
