$blue: #2773E6;
$green: #DBFE01;
$dark_blue: #264BE0;
$violet: #282D6F;
$purple: #AFB7FD;
$yellow: #FFEB80;
$gray: #252525;
$gray_text: #828282;
$text_height: 20px;
$border_length: 3px;
$border_space_desktop: 60px;
$border_space_mobile: 24px;