$blue: #2773E6;
$green: #E7F6EF;
$dark_blue: #264BE0;
$violet: #282D6F;
$yellow: #FFEB80;
$gray: #333333;
$gray_text: #828282;
$cyan: #1079C4;
$text_height: 20px;
$border_length: 3px;
$border_space_desktop: 60px;
$border_space_mobile: 24px;