$blue: #2773E6;
$dark_blue: #2160BF;
$violet: #9C8BFB;
$yellow: #FEEC7C;
$green: #17C3B2;
$black: #232323;
$text_height: 20px;
$border_length: 3px;
$border_space_desktop: 60px;
$border_space_mobile: 20px;
